.button {
  display: block;
  color: $white;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $blue;
  padding-top: 15px;
  padding-left: 47px;
  padding-right: 47px;
  padding-bottom: 17px;
  outline: none;
  border: 0;
}

.button--modal-right {
  margin: 0 auto;
}

.button--modal-wrong {
  margin: 37px auto 0;
}
