// viewport

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

// colors
$dark-blue: #669ec0;
$darkest-blue: #5496bd;
$grey1: #e5e5e5;
$grey2: #d5d5d5;
$grey3:#dbdbdb;
$grey4: #d6d6d6;
$grey5: #5c6870;
$white: #ffffff;
$white1: #e6e6e6;
$black: #000000;
$grey: #333333;
$blue: #81b3d2;
$lightgrey: #eeeeee;
$brown: #766357;
$lightergrey: #f2f2f2;
$lightbrown: #604e43;

:root {
  --dark-blue: #669ec0;
}

